@import "./_fonts.css";
/* VARIABLES */
:root {
    /* colors */
    --slate: #181818;
    --light: #ececec;
    --accent: #f0592c;
    --accent-dark: #c94016;
    --accent-light: #ff6e41;
    --light-gray: #bbbbbb;
    --gray: gray;
    --dark-gray: #383838;
    /* --accent2: #25D365; */
    --accent2: #007A4D;
    
    /* sizes */
    --container-width: 1300px;
}
/* END VARIABLES */
/* ------------- */
/* CSS RESET */
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 0;
}
ul, ol, dl {
    list-style-type: none;
}
li {
    padding: 0;
}
button, input[type="button"], input[type="submit"] {
    border: 0;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
input, select, option {
    padding: 0.5rem;
}
/* END CSS RESET */
/* ------------- */
/* SITE SPECIFIC */
html, body {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
body, button, input, textarea, select, option {
    font-family: "Ubuntu", sans-serif;
}
h1, h2, h3, h4, h5, h6, a, button, input[type="button"], input[type="submit"] {
    font-family: "Nexa", sans-serif;
}
.container-inner {
    width: var(--container-width);
    max-width: calc(100% - 4rem);
    margin: auto;
}
@media only screen and (max-width: 500px) {
    .container-inner {
        max-width: calc(100% - 2rem);
    }
}
.accent-btn {
    background-color: var(--accent);
    border: 3px outset var(--accent);
    color: var(--light);
}
.accent-btn:hover {
    filter: brightness(1.5);
}
.accent-btn:active {
    border: 3px inset var(--accent);
}
.accent2-btn {
    background-color: var(--accent2);
    border: 3px outset var(--accent2);
    color: var(--slate);
}
.accent2-btn:hover {
    filter: brightness(1.5);
}
.accent2-btn:active {
    border: 3px inset var(--accent2);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-window {
    background-color: var(--light);
    max-height: 90%;
    max-width: clamp(300px, 90%, 1000px);

    display: flex;
    flex-direction: column;
    border-bottom: 5px solid var(--accent);
    box-shadow: 0px 0px 20px black;
}
.modal-window .head {
    background-color: var(--accent);
    color: var(--light);
    padding: .5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.modal-window .body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}

.tri-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tri-col>*{
    display: flex;
    align-items: center;
}
.tri-col>.left {
    justify-content: flex-start;
}
.tri-col>.center {
    justify-content: center;
}
.tri-col>.right {
    justify-content: flex-end;
}
.desktop {
    display: none !important;
}
@media only screen and (min-width: 800px) {
    .desktop {
        display: block !important;
    }        
    .mobile {
        display: none !important;
    }
}