/* FONTS */
@font-face {
    font-family: "Nexa";
    src: url("../fonts/nexa_bold-webfont.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Nexa";
    src: url("../fonts/nexa_light-webfont.ttf");
    font-weight: normal;
}
body, button, input, textarea, select, option {
    font-family: "Nexa", sans-serif;
}
/* END FONTS */
/* --------- */
/* VARIABLES */
:root {
    /* colors */
    --slate: #181818;
    --light: #ececec;
    --accent: #f0592c;
    --gray: gray;

    /* sizes */
    --container-width: 1300px;
}
/* END VARIABLES */
/* ------------- */
/* CSS RESET */
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 0;
}
ul, ol, dl {
    list-style-type: none;
}
li {
    padding: 0;
}
button, input[type="button"], input[type="submit"] {
    border: 0;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
input, select, option {
    padding: 0.5rem;
}
/* END CSS RESET */
/* ------------- */
/* SITE SPECIFIC */
.container-inner {
    width: var(--container-width);
    max-width: 100%;
    margin: auto;
}
.accent-btn {
    background-color: var(--accent);
    border: 3px outset var(--accent);
    color: var(--light);
}
.accent-btn:hover {
    filter: brightness(1.5);
}
.accent-btn:active {
    border: 3px inset var(--accent);
}