---
import Hero from "../components/page-components/index/Hero.svelte"
import ServiceTiers from '../components/page-components/index/ServiceTiers.svelte'
import WhatWeOffer from '../components/page-components/index/WhatWeOffer.svelte'
import Layout from "../components/layout-components/Layout.astro"
import QuickQuoteForm from "../components/forms/QuickQuoteForm/QuickQuoteForm.svelte"
---

<Layout title="ICExpress" modalIds={[
	"termsAndConditions",
	"declarationOfWeights",
	"generic",
	"number"
]}>
	<div slot="hero">
		<QuickQuoteForm client:load />
	</div>
	<main slot="main">
		<ServiceTiers />
		<Hero client:load />
		<WhatWeOffer client:load />
	</main>
</Layout>


