---
import Header from "../components/layout-components/Header.svelte"
import Footer from "../components/layout-components/Footer.svelte"
import Hero from "../components/page-components/index/Hero.svelte"
import HomeQuickQuoteSection from "../components/page-components/index/HomeQuickQuoteSection.svelte"
import ModalLoader from '../components/modals/ModalLoader.svelte'
import ServiceTiers from '../components/page-components/index/ServiceTiers.svelte'
import WhatWeOffer from '../components/page-components/index/WhatWeOffer.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/style/__global.css">
		<meta name="generator" content={Astro.generator} />
		<title>ICE</title>
	</head>
	<body>
		<ModalLoader modalIds={["termsAndConditions", "declarationOfWeights", "number", "generic"]} client:load />
		<Header client:load />
		<main>
			<HomeQuickQuoteSection client:load />
			<Hero client:load />
			<ServiceTiers />
			<WhatWeOffer client:load />
		</main>
		<Footer client:load />
	</body>
</html>
