---
import Header from "../components/layout-components/Header.svelte"
import Hero from "../components/page-components/index/Hero.svelte"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/style/__global.css">
		<meta name="generator" content={Astro.generator} />
		<title>ICE</title>
	</head>
	<body>
		<Header />
		<main>
			<Hero client:load />
		</main>
	</body>
</html>
