---
const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/images/logo.webp" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/style/__global.css">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>